rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /userProfiles/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    match /jobPostings/{jobPostingId} {
      allow read;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.employerId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.employerId;
    }

    match /resumes/{resumeId} {
      allow read;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userProfileId;
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userProfileId;
    }

    match /applications/{applicationId} {
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userProfileId;
      allow read: if request.auth != null && (request.auth.uid == resource.data.userProfileId || request.auth.uid == get(/databases/$(database)/documents/jobPostings/$(resource.data.jobPostingId)).data.employerId);
    }
  }
}